<h1>Create a Team and Heroes!</h1>
<form class="team" action="/teams" method="post">
Team Name: <input type="text" name="team[name]" value=""><br>
Team Moto: <input type="text" name="team[motto]" value=""><br>
 <h2>Hero 1</h2>
 Hero's Name:<input type="text" name="team[members][][name]" value=""><br>
 Hero's Power:<input type="text" name="team[members][][power]" value=""><br>
 Hero's Biography<input type="text" name="team[members][][bio]" value=""><br>
 <label for="hero2"><h2>Hero 2</h2></label>
 Hero's Name:<input type="text" name="team[members][][name]" value=""><br>
 Hero's Power:<input type="text" name="team[members][][power]" value=""><br>
 Hero's Biography<input type="text" name="team[members][][bio]" value=""><br>
 <label for="hero3"><h2>Hero 3</h2></label>
 Hero's Name:<input type="text" name="team[members][][name]" value=""><br>
 Hero's Power:<input type="text" name="team[members][][power]" value=""><br>
 Hero's Biography<input type="text" name="team[members][][bio]" value=""><br>
 <input type="submit">
</form>
